In [7]:
import sqlite3
import pandas as pd

db_path = "../../databases/job_ads.db"  # путь к файлу

con = sqlite3.connect(db_path)

tables = pd.read_sql("SELECT * FROM sqlite_master WHERE type='table';", con)
print(tables)

# прочитать таблицу (замени table_name)
df = pd.read_sql("SELECT salary FROM jobs LIMIT 5;", con)
con.close()

    type  name tbl_name  rootpage  \
0  table  jobs     jobs         2

                                                 sql
0  CREATE TABLE "jobs" (\n"id,title,salary,experi...

DatabaseError: Execution failed on sql 'SELECT salary FROM jobs LIMIT 5;': no such column: salary

In [8]:
df = pd.read_csv("../../databases/job_ads.csv")

In [15]:
df.dtypes

id               int64
title           object
salary          object
experience      object
description     object
key_skills      object
company         object
type            object
address_info    object
meta            object
label           object
dtype: object